@import '../../styles/vars';

.container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  gap: 1rem;

  &:hover .content {
    display: flex;
    left: 1rem;
    top: -1rem;
  }

  .content {
    z-index: 2;
    display: none;
    background-color: $dark-blue;
    width: max-content;
    padding: 0.5rem 0.5rem;
    font-size: 0.85rem;

    .item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: $white;
      padding: 0.5rem 1rem;
      width: 100%;

      .icon {
        height: 1rem;
        width: 1rem;
      }

      &:hover {
        background-color: $lighter-blue;
      }
    }
  }
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.25);
  }
}
