.menu {
  position: absolute;
  display: flex;
  left: 0;

  .menu-content {
    z-index: 2;
    display: none;
    position: absolute;
    background-color: #1f2933;
    width: max-content;
    padding: 0.5rem 1rem;
    font-size: 0.85rem;

    .menu-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: white;
      padding: 0.5rem 1rem;
      width: 100%;

      .menu-item-icon {
        height: 0.85rem;
        width: 0.85rem;
      }
    }
  }
}

.menu:hover .menu-content {
  display: flex;
  left: 1rem;
  top: -1rem;
}

.menu-item:hover {
  background-color: #323f4b;
}
