.edit {
  background: white;
  color: #1f2933;
}

.edit-item-title {
  flex: 2;
  width: 100%;
  margin: auto;
  text-align-last: center;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #323f4b !important;
  background: inherit;
  color: inherit;
  padding: 0.5rem;

  &::-webkit-scrollbar {
    display: none;
  }
}
