* {
  box-sizing: border-box;
}

:root {
  width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

textarea,
input {
  outline: none;
  border-radius: 1rem;
  resize: none;
  box-sizing: border-box;
}

.icon {
  height: 1rem;
  width: 1rem;

  &:hover {
    transform: scale(1.25);
  }
}
